.container {
  height: 89%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: var(--white);
  border-radius: var(--border-radius);
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divGroup {
  margin: 10px 0;

  display: flex;
  flex-direction: column;
}

#button {
  margin-top: 10px;
  background: var(--primary);
}
