.container {
  background: var(--white1);
  width: 300px;
  height: 100%;
  padding-top: 2rem;
  box-shadow: 1px 1px 7px rgb(192, 192, 192);
  border-end-end-radius: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
  }

  .pageOption {
    color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 5px 0;
    padding: 10px 10px 10px 25px;
    width: 100%;
    transition: all 0.2s;

    span {
      font-size: 20px;
    }

    &:hover {
      background: var(--primary);
      color: var(--white);
      transform: translateX(10px);
    }
  }

  .activePageOption {
    @extend .pageOption;
    background: var(--light-primary);
    color: var(--primary);
  }

  .divExit {
    @extend .pageOption;
    color: var(--red);

    display: flex;
    align-items: center;

    &:hover {
      background: var(--red);
    }
  }
}
