@import "../../styles/global.scss";

@mixin useFlex() {
  display: flex;
  align-items: center;
}

.container {
  @include useFlex();
  align-items: flex-start;

  width: 100%;
  min-height: calc(100vh - var(--header-height));

  .subcontainer {
    @include useFlex();
    flex-direction: column;
    justify-content: flex-start;
  
    width: 100%;
    height: 100%;
    padding-top: 4rem;

    h1 {
      margin-bottom: 20px;
      font-weight: 700;
    }

    .statisticsContainer {
      display: flex;
      flex-direction: row;
      margin-top: 3rem;
      width: 90%;
      justify-content: center;
      
      div {
        width: 100%;
      }

      .containerAllTime {
        @extend .container-box-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        span {
          font-size: 2rem;
          &:first-child {
            font-weight: 700;
            margin-bottom: 1rem;
          }

          &:last-child {
            text-shadow: 1px 1px 7px #c9c9c9;
            color: var(--white);
            font-weight: 700;
          }
        }
      }
    }
  }
}

