:root {
  --background: #eaeaea;
  --color: #303030;

  --primary: #6ab04c;
  --dark-primary: #5e9d43;
  --yellow: #f9ca24;
  --dark-yellow: #e1b12c;
  --blue: #00a8ff;
  --dark-blue: #0097e6;
  --light-blue: #22a6b3;
  --dark-light-blue: #20919b;

  --calendar-color-25: rgba(57, 211, 83, 0.8);
  --calendar-color-50: rgba(38, 166, 65, 0.8);
  --calendar-color-100: rgba(0, 109, 50, 0.8);
  --calendar-color-200: rgba(14, 68, 41, 0.8);

  --white: #fff;
  --white1: #f3f3f3;
  --white2: #eee;
  --white3: #ddd;
  --white4: #ccc;
  --white5: #bbb;
  --white6: #aaa;
  --black: #000;
  --red: #eb4d4b;

  --default-border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background);
  color: var(--color);
  transition: all 0.3s;
}

input {
  height: 50px;
  border: 0.5px #ddd solid;
  border-radius: var(--default-border-radius);
  padding: 0 5px;
  font-size: 23px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 1px 1px 5px #bbb;
  }
}

button,
select,
a {
  cursor: pointer;
}
button {
  transition: all 0.3s;
  padding: 10px;
  border: none;
  color: var(--white);
  border-radius: var(--default-border-radius);
  font-size: 31px;

  &:hover {
    opacity: 0.9;
  }
}

#pointer {
  cursor: pointer;
}
