.container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  color: var(--white);
  padding: 1rem 3rem;
  transition: all 1s;

  .userIcon {
    background: var(--white);
    color: var(--primary);
    border-radius: 5rem;
    font-size: 3rem;
    cursor: pointer;
  }
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin: 0 3px;
  }
}

#login, #signup {
  padding: 5px;
  border-radius: var(--default-border-radius);
  font-size: 25px;
}

#login{
  background: none;
  border: 0.5px solid var(--white);

  &:hover {
    background: var(--white);
  }
}

#signup {
  background: var(--white);
  margin-left: 15px;
}
